
.fa-green {
    color: var(--inputCorrect);
}

.fa-red {
    color: var(--inputIncorrect);
}

.inputCorrect {
    background-color: var(--inputCorrect);
    color:wheat;
}

.inputIncorrect {
    background-color: var(--inputIncorrect);
}

.inputVide {
    background-color: var(--inputVide);
}

input, select {
    box-shadow: 2px 2px 3px black;
    padding: 0.5em;
}

label {
    align-self: center;
}


.oeil {
    justify-content: flex-end;
}