/*-----------------------------------GLOBAL-----------------------------------------*/
body {
	background-color: black;
	background-image: url("../Images/fond.jpg") ;
}

img {
	width: 100%;
}
div,img{
	display:flex;
	flex:1;
}
#page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 2%;
	padding-right: 2%;
}

#contenu {
	display: flex;
	flex-direction: column;
	width: 60%;
	justify-content: center;
}

.bold{
	font-weight:bold;
}
.espaceHorizon {
	flex:none;
	height: 2.5vh;
}
.espaceVertical {
	flex: 0.5;
}


#station
{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 8em;
	background-color: rgb(32, 32, 32);
}

.case{
	border : 1px solid white;
}

.centre{
	justify-content: center;
	align-items:center;
}

.afficheur{
	font-weight: bold;
	font-size: 2em;
}

.bleu{
	color:rgb(35, 72, 240);
}

.blanc{
	color:white;
}

.rouge{
	color:red;
}

footer{
	position:fixed;
	Bottom:0;
}

