/****  GENERAL ****/

html, body {
    margin: 0;
    padding: 0;
}
div,body,input,button,fieldset{
    display: flex;
    flex: 1;
    /* border : 1px dotted red; */
}
body{
    background-color: black;
}
.colonne {
    flex-direction: column;
}
.center {
    justify-content: center;
    align-items: center;
}
.espaceH{
    flex:none;
    Height:10em;
}
.doublepetitespaceH{
    flex:none;
    height:2em;
}
.formulaire{
    flex:none;
    background-color:lightgrey;
}
button{
    padding:0.5em;
    justify-content:center;
}
.rouge{
    color:red;
}
.vert{
    color:green
}
.relative{
    position:relative;
}
.absolute{
    position:absolute;
}
form{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr 1fr;
    grid-row-gap:1em;
    grid-auto-rows: minmax(1em, auto);
}
fieldset{
    font-size: 0.8em;
    display:grid;
    grid-template-columns: 0.5fr 3fr;
    grid-row-gap:0.4em;
    grid-auto-rows: minmax(1em, auto);
}
.psw{
    position:relative;
}
.psw i{
    position:absolute;
    top:0.2em;
    right:0.3em;
}
.alignDroite{
    align-items:center;
}