/****  GENERAL ****/

html, body {
    margin: 0;
    padding: 0;
}

div,body,input,button{
    display: flex;
    flex: 1;
    /* border : 1px dotted red; */
}

img, video {
    width: 100%;
}
.double{
    flex:2;
}
.demi{
    flex:0.5;
}
.mini{
    flex:0.1;
}
body{
    background-color: black;
}
.colonne {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.espaceH{
    flex:none;
    Height:10em;
}
.doublepetitespaceH{
    flex:none;
    height:2em;
}
.petitespaceH{
    flex:none;
    height:1em;
}
.formulaire{
    flex:none;
    width: 50%;
    background-color:lightgrey;
}
button{
    padding:0.5em;
    justify-content:center;
}
.rouge{
    color:red;
}
.vert{
    color:green
}
.ok{
    display:none;
}
input:invalid{
   border:1px solid red;
}
input:valid{
    border:1px solid green;
}